.content {
    font-family: MISA Fonts;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 24px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    /* background-color: #e9ebee; */
}

.page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.page__header-title {}

.page__header-button {}

.page__toolbar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin: 4px 0;
}

.page__toolbar--left {}

.page__toolbar--right {}

.page__table {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    /* background-color: aqua; */
    flex: 1;
    justify-content: space-between;
}

.page__footer {}

.page__content {
    font-family: MISA Fonts;
    /* background-color: #e9ebee; */
}

.page__content--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    font-family: MISA Font Bold;
}

.content .page__toolbar .page__toolbar--left {
    max-width: 80%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.content .page__toolbar .page__toolbar--left .input {
    width: calc((80% - 40px) / 3);
    margin-right: 8px;
}

.content .page__toolbar .page__toolbar--left select {
    /* width: calc((80% - 40px) / 3); */
    margin: 0px 8px;
}
