#btnRefresh {
    border-radius: 4px;
    height: 40px;
    width: 40px;
    border: 1px solid #bbbbbb;
    background-image: url(../../assets/icon/refresh.png);
    background-repeat: no-repeat;
    /* background-position: center center; */
    cursor: pointer;
}

#btnDelete {
    border-radius: 4px;
    height: 40px;
    width: 40px;
    border: 1px solid #bbbbbb;
    background-image: url(../../assets/icon/delete.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    cursor: pointer;
}

#btnDuplicate {
    border-radius: 4px;
    height: 40px;
    width: 40px;
    border: 1px solid #bbbbbb;
    background-image: url(../../assets/icon/duplicate.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}