.button {
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    color: #fff;
    padding: 0 24px 0 24px;
    text-align: center;
    border: none;
    min-width: 100px;
    cursor: pointer;
    outline: none;
}

.button:hover,
.button:focus {
    background-color: #2fbe8e;
}

.button:active {
    background-color: #01b175;
}

.button__icon {
    padding: 0 16px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    /* background-size: 16px 16px; */
    padding-left: 40px;
}

.button__icon--employee {
    background-image: url(../../assets/icon/add.png);
}

.button__icon--refresh {
    background-image: url(../../assets/icon/refresh.png);
    border-image-width: 100%;
}

.button__icon--lamp {
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    color: #fff;
    padding: 0 24px 0 24px;
    text-align: center;
    border: none;
    min-width: 100px;
    cursor: pointer;
    outline: none;
    font-family: MISA Font Bold;
    position: absolute;
    font-size: 18px;
    left: 100px;
    transform: translate(0%, -25%);
    width: 150px;
    padding-left: 35px;
    border: 20px;
}

.button__icon--lamp:hover{
    background-color: #2fbe8e;
}

.button__icon--lamp--on {
    background-color: rgb(255, 0, 174);
    background-image: url(../../assets/icon/light-bulb-white.png);
    background-size: 25px !important;
    /* filter: brightness(100%) sepia(50%); */
    /* background-image: url(../../assets/icon/refresh.png); */
}

.button__icon--lamp--off {
    background-color: rgb(7, 1, 30);
    color: rgb(206, 206, 56);
    background-image: url(../../assets/icon/dark-bulb-mud.png);
    background-size: 40px !important;
    background-position-x: 3px;
    /* filter: brightness(100%) sepia(50%); */
    /* background-image: url(../../assets/icon/refresh.png); */
}